@import '../../../assets/variables';

.sidebar {
  width: 25%;

  .avatar-div {
    display: flex;
    justify-content: center;
    margin: 1.25rem 0;
  }

  .username {
    font-family: $lora;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.625rem;
    margin-bottom: .9375rem;
  }

  .email {
    font-family: $lato;
    font-size: .875rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.0625rem;
    margin-bottom: .9375rem;
  }

  .sidebar-hr {
    margin-top: 1.875rem;
    width: 75%;
  }
}

.follow-div {
  color: $secondary-black;
  display: flex;
  font-family: $lato;
  font-size: .875rem;
  font-style: normal;
  font-weight: normal;
  justify-content: space-around;
  line-height: 1.0625rem;
  margin-bottom: .9375rem;

  .count {
    font-size: .9375rem;
    margin-bottom: 0;
  }
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 37.5rem) {

  .sidebar {
    width: 100%;

    .sidebar-hr {
      display: none;
    }
  }
}
