.author-slot {
  // position: absolute;
  display: flex;
  align-items: center;
  height: 4rem;
  width: 200px;
  left: 0;
  top: 0;

  &:hover {
    border: 1px solid #000;
    box-sizing: border-box;
    opacity: 0.2;
  }
}
