@import '../../../assets/variables';

.auth-card {
  background: $primary-white;
  border: 1px solid $primary-black-opacity-2;
  border-radius: 10px;
  box-shadow: 0 15px 90px $primary-black-opacity-1;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 30px 48px;
  width: 467px;
}

.hr {
  background-color: $secondary-grey;
  border: 0;
  height: 1px;
  margin-bottom: 24px;
  width: 107px;
}

.tab-label {
  .menu {
    border-bottom: 2px solid $secondary-grey;

    .item {
      color: $primary-grey;
      width: 50%;
    }
  }

  .segment {
    border: 0;
    box-shadow: none;
    padding: 0;
  }
}

.right {
  .or-div {
    align-items: center;
    display: flex;
    height: 22px;
    margin-top: 25px;

    .hr {
      margin-top: 20px;
      width: 163px;
    }

    .or {
      color: $primary-black;
      font-size: 18px;
      font-weight: bold;
      line-height: 22px;
      margin: 0 5px;
      text-align: center;
    }
  }

  .icon-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 20px;

    .icon-card {
      align-items: center;
      background: $primary-white;
      border-radius: 5px;
      box-shadow: 0 4px 4px $primary-black-opacity-2;
      display: flex;
      height: 70px;
      justify-content: center;
      width: 70px;
    }
  }

  .text-right {
    text-align: right;
  }

  .text-red {
    color: $primary-red;
  }

  .forgot-password {
    margin-top: 175px;
  }

  .reset-password {
    margin-top: 150px;
  }
}
