@import '../../../assets/variables';

.auth-card {
  background: $primary-white;
  border: .0625rem solid $primary-black-opacity-2;
  border-radius: .625rem;
  box-shadow: 0 .9375rem 5.625rem $primary-black-opacity-1;
  box-sizing: border-box;
  margin-top: 1.875rem;
  padding: 1.875rem 3rem;
  width: 29.1875rem;
}

.hr {
  background-color: $secondary-grey;
  border: 0;
  height: .0625rem;
  margin-bottom: 1.5rem;
  width: 6.6875rem;
}

.tab-label {
  .menu {
    border-bottom: .125rem solid $secondary-grey;

    .item {
      color: $primary-grey;
      width: 50%;
    }
  }

  .segment {
    border: 0;
    box-shadow: none;
    padding: 0;
  }
}

.right {
  .or-div {
    align-items: center;
    display: flex;
    height: 1.375rem;
    margin-top: 1.5625rem;

    .hr {
      margin-top: 1.25rem;
      width: 10.1875rem;
    }

    .or {
      color: $primary-black;
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1.375rem;
      margin: 0 0.3125rem;
      text-align: center;
    }
  }

  .icon-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.5rem;
    margin-top: 1.25rem;

    .icon-card {
      align-items: center;
      background: $primary-white;
      border-radius: .3125rem;
      box-shadow: 0 .25rem .25rem $primary-black-opacity-2;
      display: flex;
      height: 4.375rem;
      justify-content: center;
      width: 4.375rem;
    }
  }

  .text-right {
    text-align: right;
  }

  .text-red {
    color: $primary-red;
  }

  .forgot-password {
    margin-top: 10.9375rem;
  }

  .reset-password {
    margin-top: 9.375rem;
  }
}
