@import '../../../assets/variables';

.avatar, .avatar ~ .overlay-image {
  border-radius: 100%;
  height: 2.8125rem;
  width: 2.8125rem;
}

.avatar-xl, .avatar-xl ~ .overlay-image {
  border-radius: 100%;
  height: 12.5rem;
  width: 12.5rem;
}

.dropdown {
  height: 100%;
}

.avatar-div {
  .overlay-image {
  align-content: flex-end;
  align-items: flex-end;
  background-color: $avatar-overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  border-radius: 100%;
  color: $avatar-overlay-button;
  cursor: pointer;
  display: none;
  font-size: 2.5rem;
  justify-content: flex-end;
  position: absolute;
  text-align: center;

  .camera {
    padding-right: 7vmin;
    padding-top: -16vmin;
  }
}

  .overlay-image:hover {
    background-color: rgba(136, 135, 135, .774);
  }

  .show {
    display: flex;
  }
}
