@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,700|Sacramento");
@import "../../../assets/variables";

.title {
  color: $primary-black;
  font-family: "Lora", serif;
  font-size: 20px;
  font-weight: bold;
}
.title-lg {
  font-size: 46px;
}
.text-center {
  text-align: center;
}
