@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,700|Sacramento');
@import '../../../assets/variables';

.main {
  font-family: 'Lato', sans-serif;
  padding-left: 2%;
  width: 75%;

  .name-title {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 20px;
  }
}

.post-lists {

  .item {
    margin-top: 30px !important;

    .content {
      display: flex !important;
      flex-direction: column;
    }

    .image {
      height: 210px;
      width: 210px !important;

      img {
        height: 210px !important;
        width: 100%;
      }
    }
  }
}

.fade-2 {
  opacity: .2;
}

.profile-tab-menu {

  .menu {
    border-bottom: 2px solid $secondary-grey;
    display: flex;
    margin-bottom: 0;
    width: 100%;

    .item {
      color: $secondary-black;
      font-family: 'Lato', sans-serif;
      font-size: 24px;
      line-height: 29px;
    }

    .active.item {
      font-weight: 400 !important;
    }
  }

  .segment {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
}

.settings {
  margin-top: 30px;
}

.edit-profile {
  background: $primary-white;
  border: 1px solid $secondary-grey;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 75px 21px 24px;
}

@media only screen and (max-width: 600px) {

  .main {
    width: 100%;
  }
}
