@import '../../../assets/variables';

.main {
  font-family: $lato;
  padding-left: 2%;
  width: 75%;

  .name-title {
    font-size: 1.875rem;
    line-height: 2.375rem;
    margin-bottom: 1.25rem;
  }
}

.delete-button {
  font-size: 2.5rem;
  margin: 0;
  color: #000000;
}
.delete-button:hover {
  font-size: 2.5rem;
  margin: 0;
  color: #ff0000;
}

.post-lists {
  .item {
    margin-top: 1.875rem !important;

    .content {
      display: flex !important;
      flex-direction: column;
    }

    .image {
      height: 13.125rem;
      width: 13.125rem !important;

      img {
        height: 13.125rem !important;
        width: 100%;
      }
    }
  }
}

.fade-2 {
  opacity: .2;
}

.profile-tab-menu {
  .menu {
    border-bottom: .125rem solid $secondary-grey;
    display: flex;
    margin-bottom: 0;
    width: 100%;

    .item {
      color: $secondary-black;
      font-family: $lato;
      font-size: 1.5rem;
      line-height: 1.8125rem;
    }

    .active.item {
      font-weight: 400 !important;
    }
  }

  .segment {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
}

.settings {
  margin-top: 1.875rem;
}

.edit-profile {
  background: $primary-white;
  border: .0625rem solid $secondary-grey;
  border-radius: .25rem;
  box-sizing: border-box;
  padding: 4.6875rem 1.3125rem 1.5rem;
}

@media only screen and (max-width: 37.5rem) {

  .main {
    width: 100%;
  }
}
