@import '../../../assets/variables';

.title {
  color: $primary-black;
  font-family: $lora;
  font-size: 1.25rem;
  font-weight: bold;
}

.title-sm {
  font-size: .875rem;
}

.title-lg {
  font-size: 2.875rem;
}

.title-xl {
  font-size: 4rem;
}

.lh-4 {
  line-height: 4rem;
  margin-bottom: 0;
}

.title-md {
  font-size: 1.875rem;
}


.text-center {
  text-align: center;
}
