.illustration-container {
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    width:65%;
    height: 100%;
    margin-top: 18px;
  }
}
.left{
  margin-top: 54px;
  padding-right: 100px;
}
