@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,700|Sacramento');
@import '../../assets/variables';

.form {
  font-size: 1rem;
  max-width: 100%;
  position: relative;

  .form-group {
    clear: both;
    margin: 0 0 1em;
  }

  .form-control {
    border: .0625rem solid $primary-grey-opacity-0;
    border-radius: .28571429rem;
    color: $primary-black-opacity-8;
    font: 1em 1.0625em 'Lato', sans-serif;
    height: 3.125rem;
    margin: 1.25rem 0 0;
    outline: 0;
    padding: .67857143em 1em;
    width: 100%;
  }

  .form-control.error {
    border: .0625rem solid $primary-red;
  }

  ::placeholder {
    color: $secondary-grey-2;
    font-size: .875rem;
    line-height: 1.0625rem;
    opacity: .3;
  }
}

.loading {
  cursor: default;
  opacity: .3;
  pointer-events: none;
  position: relative;
}
