.comment-card {
  border: 1px solid #808080;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;

  .like-button {
    all: unset;

    :hover {
      cursor: pointer;
    }
  }

  .user-thumbnail {
    margin-bottom: 15px;
  }

  .comment-body {
    margin-left: 53px;
  }
}
