@import '../../node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import '../assets/variables';

.pt-3 {
  padding-top: 3.125rem;
}

.nav-items {
  display: flex;

  .search-bar {
    margin-right: 1.25rem;
  }
}

.search-bar {
  height: 3.125rem;
  width: 22.9375rem;

  .left {
    margin-top: 0;
    padding-right: 0;
  }

  input[type='text'] {
    height: 3.125rem;
    width: 22.9375rem;
  }
}

.top {
  display: flex;
  margin-top: 4.875rem;
  padding: 0 6%;

  .trending {
    width: 80%;
  }

  .trending-inner {
    display: flex;
  }

  .trending-inner.up {
    margin-bottom: 4.6875rem;
  }

  .popular {
    width: 20%;
  }
}

.justify-content-center {
  justify-content: center;
}

.v-card-container {
  height: content-box;
  padding-right: 6%;
  width: 44%;

  .ui.card img.avatar {
    height: 3.125rem;
    width: 3.125rem;
  }

  .ui.card > .card-footer {
    border-top: 0;
    box-shadow: none;
    flex-grow: 0;
    left: 0;
    margin: 0;
    max-width: 100%;
    min-height: 0;
    padding: 0 1rem;
    position: static;
    top: 0;
    transition: color .1s ease;
    width: auto;
  }

  .author-slot {
    margin-top: 0;
  }
}

.h-card-container {
  padding-right: 6%;
  width: 56%;
}

.ads {
  display: flex;
}

.middle {
  display: flex;
  margin: 3.75rem 0 0;
  padding: 0 6%;

  .tag-result-div {
    border-bottom: .0625rem solid $secondary-grey;
    border-top: .0625rem solid $secondary-grey;
    display: flex;
    margin-right: auto;
    padding: 3.125rem 0;
    width: 76%;
  }

  .h-card-container {
    padding-right: 0;
    width: 56%;
  }

  .h-card-container:first-child {
    padding-right: 3%;
  }

  .tag-div {
    border-bottom: .0625rem solid $secondary-grey;
    border-top: .0625rem solid $secondary-grey;
    padding: 1.25rem 0;
    width: 20%;
  }

  .tag-div .inner {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-bottom {
  display: flex;
  margin: 0 0 1rem;
  padding: 0 6%;

  .suggested-reads {
    display: block;
    margin-right: auto;
    padding: 1.875rem 0 0;
    width: 76%;
  }

  .footer {
    padding: 1.25rem 0 0;
    width: 20%;
  }

  .footer-link {
    color: $primary-black-opacity-6;
    padding-right: .625rem;
  }
}

.glide__slide--active .h-card {
  box-shadow: 0 4px 4px $primary-black-opacity-2;
}

.glide__bullet {
  background: $secondary-grey;
  border: 0;
  border-radius: 100%;
  height: 1.5rem;
  margin: 0 1rem;
  width: 1.5rem;
}

.glide__bullet--active {
  background: $primary-black;
}

.glide__bullet:focus,
.glide__bullet--active:focus {
  outline: none;
}

.glide__bullets {
  display: flex;
  justify-content: center;
}

.trending-main-div {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 6% 0 0;
}

.card-0 {
  grid-column: 1 / 2;
  grid-row: 1/3;
  margin-right: 12%;
}

.card-1 {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.card-2 {
  grid-column: 2/4;
  grid-row: 2 ;
}

.card-3 {
  grid-column: 1;
  grid-row: 3;
  margin: 12% 0 0 0%;
}

.card-4 {
  grid-column: 1;
  grid-row: 4;
  margin: 12% 0 0 0%;
}

.card-5 {
  grid-column: 2/4;
  grid-row: 3/5;
  margin: 12% 0 0 15%;
}


@media only screen and (max-width: 37.5rem) {

  .trending-main-div {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 6% 0 0;
  }

  .card-0 {
    grid-column: 1;
    grid-row: 1;
    margin-right: 0;
  }

  .card-1 {
    grid-column: 1;
    grid-row: 2;
  }

  .card-2 {
    grid-column: 1;
    grid-row: 3 ;
  }

  .card-3 {
    grid-column: 1;
    grid-row: 4;
    margin: 0;
  }

  .card-4 {
    grid-column: 1;
    grid-row: 5;
    margin: 0;
  }

  .card-5 {
    grid-column: 1;
    grid-row: 6;
    margin: 0;
  }


  .pt-3 {
    padding-top: .5rem;
  }

  .top {
    display: block;
    margin-top: 0;
    padding: 0 6%;

    .trending {
      width: 100%;
    }

    .trending-inner {
      display: block;
    }

    .trending-inner.up {
      margin-bottom: 1.75rem;
    }

    .trending-inner .v-card-container {
      width: 100%;
    }

    .v-card-container {
      padding-right: 0%;

      .ui.card img.avatar {
        height: 2.125rem;
        width: 2.125rem;
      }

      .ui.card > .card-footer {
        padding: 0;
      }

      .ui.card > .content {
        padding: 1em 0;
      }
    }


    .trending-inner .h-card-container {
      display: none;
    }

    .popular {
      margin-top: 2rem;
      width: 100%;
    }
  }

  .author-slot-container {
    display: flex;
    overflow-x: auto;

    .author-slot {
      border: .0625rem solid $primary-black-opacity-1;
      border-radius: .125rem;
      box-sizing: border-box;
      margin-right: 1rem;
      padding: 0 .5rem;
    }

    .user-thumbnail {
      margin-right: 2.5rem;
    }
  }

  .author-slot-container::-webkit-scrollbar {
    display: none;
  }

  .index-title {
    text-align: center;
  }

  .ads {
    display: none;
  }

  .middle {
    display: flex;
    flex-direction: column;
    margin: 3.75rem 0;

    .tag-result-div {
      border-bottom: .0625rem solid $secondary-grey;
      border-top: .0625rem solid $secondary-grey;
      display: block;
      margin-right: auto;
      order: 2;
      padding: 3.125rem 0;
      width: 100%;
    }

    .h-card-container {
      padding-right: 0;
      width: 100%;
    }

    .h-card-container:first-child {
      padding-right: 0%;
    }

    .h-card {
      margin-bottom: 2.8125rem;
    }

    .tag-div {
      border-bottom: 0;
      border-top: .0625rem solid $secondary-grey;
      order: 1;
      padding: 1.25rem 0 0;
      width: 100%;
    }

    .tag-div .inner {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
    }

    .tag-div .inner::-webkit-scrollbar {
      display: none;
    }

    .tag-div .inner .tag {
      min-width: fit-content;
    }
  }
}


@media screen and (min-width: 37.5rem) and ( max-width: 64rem) {

  .trending-main-div {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 6% 0 0;
  }

  .card-0 {
    grid-column: 1;
    grid-row: 1;
    margin-right: 0;
  }

  .card-1 {
    grid-column: 1;
    grid-row: 2;
  }

  .card-2 {
    grid-column: 1;
    grid-row: 3 ;
  }

  .card-3 {
    grid-column: 1;
    grid-row: 4;
    margin: 0;
  }

  .card-4 {
    grid-column: 1;
    grid-row: 5;
    margin: 0;
  }

  .card-5 {
    grid-column: 1;
    grid-row: 6;
    margin: 0;
  }

  .pt-3 {
    padding-top: .5rem;
  }

  .top {
    display: block;
    margin-top: 0;
    padding: 0 0 0 6%;

    .trending {
      width: 100%;
    }

    .trending-inner {
      display: flex;
    }

    .trending-inner.up {
      margin-bottom: 3.75rem;
    }

    .trending-inner .v-card-container {
      width: 44%;
    }

    .v-card-container {
      padding-right: 6%;

      .ui.card img.avatar {
        height: 2.125rem;
        width: 2.125rem;
      }

      .ui.card > .card-footer {
        padding: 0;
      }

      .ui.card > .content {
        padding: 1em 0;
      }
    }


    .trending-inner .h-card-container {
      display: block;
      width: 56%;
    }

    .popular {
      margin-top: 2rem;
      width: 100%;
    }
  }

  .author-slot-container {
    display: flex;
    overflow-x: auto;

    .author-slot {
      border: .0625rem solid $primary-black-opacity-1;
      border-radius: .125rem;
      box-sizing: border-box;
      margin-right: 1rem;
      padding: 0 .5rem;
    }

    .user-thumbnail {
      margin-right: 2.5rem;
    }
  }

  .author-slot-container::-webkit-scrollbar {
    display: none;
  }

  .index-title {
    text-align: center;
  }

  .ads {
    display: none;
  }


  .middle {
    display: flex;
    flex-direction: column;
    margin: 3.75rem 0;

    .tag-result-div {
      border-bottom: .0625rem solid $secondary-grey;
      border-top: .0625rem solid $secondary-grey;
      display: block;
      margin-right: auto;
      order: 2;
      padding: 3.125rem 0;
      width: 100%;
    }

    .h-card-container {
      padding-right: 0;
      width: 100%;
    }

    .h-card-container:first-child {
      padding-right: 0%;
    }

    .h-card {
      margin-bottom: 2.8125rem;
    }

    .tag-div {
      border-bottom: 0;
      border-top: .0625rem solid $secondary-grey;
      order: 1;
      padding: 1.25rem 0 0;
      width: 100%;
    }

    .tag-div .inner {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
    }

    .tag-div .inner::-webkit-scrollbar {
      display: none;
    }

    .tag-div .inner .tag {
      min-width: fit-content;
    }
  }
}


@media only screen and (max-width: 28.625rem) {


  .trending-main-div {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 6% 0 0;
  }

  .card-0 {
    grid-column: 1;
    grid-row: 1;
    margin-right: 0;
  }

  .card-1 {
    grid-column: 1;
    grid-row: 2;
  }

  .card-2 {
    grid-column: 1;
    grid-row: 3 ;
  }

  .card-3 {
    grid-column: 1;
    grid-row: 4;
    margin: 0;
  }

  .card-4 {
    grid-column: 1;
    grid-row: 5;
    margin: 0;
  }

  .card-5 {
    grid-column: 1;
    grid-row: 6;
    margin: 0;
  }

  .pt-3 {
    padding-top: .5rem;
  }

  .top {
    display: block;
    margin-top: 0;
    padding: 0 6%;

    .trending {
      width: 100%;
    }

    .trending-inner {
      display: block;
    }

    .trending-inner.up {
      margin-bottom: 1.75rem;
    }

    .trending-inner .v-card-container {
      width: 100%;
    }

    .v-card-container {
      padding-right: 0%;

      .ui.card img.avatar {
        height: 2.125rem;
        width: 2.125rem;
      }

      .ui.card > .card-footer {
        padding: 0;
      }

      .ui.card > .content {
        padding: 1em 0;
      }
    }


    .trending-inner .h-card-container {
      display: none;
    }

    .popular {
      margin-top: 2rem;
      width: 100%;
    }
  }

  .author-slot-container {
    display: flex;
    overflow-x: auto;

    .author-slot {
      border: .0625rem solid $primary-black-opacity-1;
      border-radius: .125rem;
      box-sizing: border-box;
      margin-right: 1rem;
      padding: 0 .5rem;
    }

    .user-thumbnail {
      margin-right: 2.5rem;
    }
  }

  .author-slot-container::-webkit-scrollbar {
    display: none;
  }

  .index-title {
    text-align: center;
  }

  .ads {
    display: none;
  }

  .middle {
    display: flex;
    flex-direction: column;
    margin: 3.75rem 0;

    .tag-result-div {
      border-bottom: .0625rem solid $secondary-grey;
      border-top: .0625rem solid $secondary-grey;
      display: block;
      margin-right: auto;
      order: 2;
      padding: 3.125rem 0;
      width: 100%;
    }

    .h-card-container {
      padding-right: 0;
      width: 100%;
    }

    .h-card-container:first-child {
      padding-right: 0%;
    }

    .h-card {
      margin-bottom: 2.8125rem;
    }

    .tag-div {
      border-bottom: 0;
      border-top: .0625rem solid $secondary-grey;
      order: 1;
      padding: 1.25rem 0 0;
      width: 100%;
    }

    .tag-div .inner {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
    }

    .tag-div .inner::-webkit-scrollbar {
      display: none;
    }

    .tag-div .inner .tag {
      min-width: fit-content;
    }
  }

  .main-bottom {
    display: block;
    margin: 0;
    padding: 0 6%;

    .suggested-reads {
      display: block;
      margin-right: auto;
      padding: 1.875rem 0 0;
      width: 100%;
    }

    .footer {
      padding: 1.25rem 0 0;
      width: 100%;
    }

    .footer-link {
      display: none;
    }
  }
}


