@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,700|Sacramento');

.auth-container {
  display: flex;
  padding: 0% 6%;
}

@media only screen and (max-width: 600px) {
  .auth-container {
    display: block;
    padding: 0%;

    .left {
      display: none;
    }

    .right {
      display: flex;
      justify-content: center;

      .card {
        border: 0;
        box-shadow: none;
        margin-top: 0;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .auth-container {
    display: block;
    padding: 0%;

    .left {
      display: none;
    }

    .right {
      display: flex;
      justify-content: center;

      .card {
        margin-top: 0;
        width: 80%;
      }
    }
  }
}
