@import '../assets/variables';

.search-container {
  display: flex;
  margin: 0 auto;
  padding: 0% 6%;
  width: 66.25rem;

  .form {
    display: flex;
    width: 100%;

  }

  .form-control {
    color: $primary-white;

    &:hover {
      background: $primary-white;
      color: $primary-black;
    }
  }

  Input {
    width: 80%;
  }

  .btn-dark {
    margin: 1.25rem 0 0;
    width: 20%;
  }

  .header {
    font-size: 10px;
 }
}

.articles-container,
.authors-container {
  display: flex;
  justify-content: center;

  .article,
  .author {
    border: 1px solid $primary-black;
    margin: 2rem 0;
    text-align: center;
    width: 25rem;
  }
}
