@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,700|Sacramento');
@import '../../../assets/variables';

.navbar {
  align-items: center;
  display: flex;
  height: 6.25rem;
  justify-content: space-between;
  padding: 0% 6%;

  .brand {
    color: $primary-black;
    font-family: 'Sacramento', cursive;
    font-size: 2.25rem;
    line-height: 3.3125rem;
  }

  .navbar-avatar {
    align-items: center;
    display: flex;
  }
}

.sm-hide {
  display: block;
}

@media only screen and (max-width: 56.25rem) {
  .navbar {
    justify-content: center;
  }

  .sm-hide {
    display: none;
  }
}
