@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,700|Sacramento');
@import '../../../assets/variables';

.btn {
  background-color: $secondary-grey;
  border-radius: .3125rem;
  color: $primary-black;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: .875rem;
  height: 3.125rem;
  letter-spacing: .1em;
  outline: none;
  text-align: center;
  width: 100%;
}

.btn-dark {
  background-color: $primary-black;
  border: .0625rem solid $primary-black;
  color: $primary-white;
}

.btn-dark:hover {
  background-color: $primary-white;
  border: .0625rem solid $primary-black;
  color: $primary-black;
}

.btn-white {
  background-color: $primary-white;
  border: .0625rem solid $primary-black;
  color: $primary-black;
}

.btn-white:hover {
  background-color: $primary-black;
  border: 1px solid $primary-black;
  color: $primary-white;
}

.btn-transparent {
  background-color: transparent;
  border: 0;
  color: $primary-black;
  height: 100%;
  padding: 0;
}

.mb-3 {
  margin-bottom: 3%;
}

.navbar-right {
  width: 10.938rem;
  height: 3.25rem;
}

.right-small {
  width: 6.5rem;
  height: 2.2rem;
  left: 9.436rem;
  top: 17.049rem;
}
