@import '../../../assets/variables';

.tags {
  border-radius: .3125rem;
  display: flex;
  font-size: .75rem;
  height: 1.4375rem;
  justify-content: flex-start;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 0 .625rem;
  width: inherit;
}

.tag {
  background: $secondary-grey;
  font-size: 1rem;
  height: max-content;
  margin: .5rem;
  padding: .5rem;
  width: max-content;

  &:hover {
    background: $primary-white;
    border: 1px solid $secondary-black;
    cursor: pointer;
  }
}
