.comment-form {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 20px;

  input {
    border: none;
    outline: none;
    margin-left: 10px;
  }

  .avatar {
    height: 30px;
  }
}

.comment-content {
  display: flex;
}
