.comment-form {
  border: 1px solid #808080;
  border-radius: 5px;
  margin: 10px 0;
  padding: 0 20px;
  position: relative;

  input {
    border: 0;
    flex: 1;
    height: 90px;
    margin-left: 10px;
    outline: none;
  }
}

.comment-content {
  align-items: center;
  display: flex;
}
