$primary-white: #fff;
$primary-black: #000;
$primary-grey: #828282;
$secondary-grey: #c4c4c4;
$secondary-grey-2: #545f7d;
$primary-red: #f00;

$primary-black-opacity-2: rgba(0, 0, 0, 0.25);
$primary-black-opacity-1: rgba(0, 0, 0, 0.1);

$primary-grey-opacity-0: rgba(84, 95, 125, 0.15);
